{% extends '@HgabkaUtils/Default/list.html.twig' %}
    {% set adminlist = admin.getAdminList() %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/hgabkanode/css/hg_node.css') }}">
{% endblock %}
{% block admin_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">

                {{ 'hg_node.title' | trans }} <small class="app__content__header__title__small">
                {{ "This list contains all the pages, chronologically ordered by updated date." | trans }}
            </small>
        </h1>
    </div>
{% endblock %}
{% block title %}
    {{ 'hg_node.group'|trans }} - {{ 'hg_node.title'| trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ path('sonata_admin_dashboard') }}">{{ 'link_breadcrumb_dashboard' | trans({}, 'SonataAdminBundle') | raw }}</a>
            </li>
                {% if block('breadcrumb_between') is defined %}
                    {{ block('breadcrumb_between') }}
                {% endif %}
                <li>
                        <span>{{ 'hg_node.title'|trans }}</span>
                </li>
        </ol>
    </div>
{% endblock %}

{% block admin_sidebar %}
    <!-- Search -->
    <button type="button" class="js-toggle-btn toggle-button btn app__sidebar__search-toggle-btn" data-target="#sidebar-search-toggle">
        <i class="fa fa-search"></i>
    </button>

    <div id="sidebar-search-toggle" class="toggle-item">
        <div class="toggle-item__content">
            <div class="app__sidebar__search-toggle-item">
                <input type="text" placeholder="{{ 'hg_media.label.search' | trans }}" id="app__sidebar__search" class="form-control">
                <hr>
            </div>
        </div>
    </div>

    <!-- Tree -->
    <nav role="navigation" id="app__sidebar__navigation" class="app__sidebar__module app__sidebar__navigation" data-reorder-url="{{ path('HgabkaMediaBundle_folder_reorder') }}">
        <ul>
        </ul>
    </nav>
{% endblock %}

{% block extra_actions_header %}

    {% if adminlist.canAdd() or adminlist.canExport() or adminlist.hasListActions() %}
        <div class="col-sm-6 col-md-4">
            <div class="app__content__header__extra-actions">
                <div class="btn-group">
                    {% if adminlist.canAdd() %}
                        {% if adminlist.getIndexUrl()['params'] is defined %}
                            {% set adminaddlist = adminlist.getAddUrlFor(adminlist.getIndexUrl()['params']) %}
                        {% else %}
                            {% set adminaddlist = adminlist.getAddUrlFor(adminlist.getIndexUrl()) %}
                        {% endif %}

                        {% if adminaddlist|length > 1 %}
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ 'form.add' | trans }}
                                <i class="fa fa-caret-down btn__icon"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% for key,add in adminaddlist %}
                                    <li>
                                        <a href="{{ path(add["path"], add[("params")]) }}">
                                            {{ key }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% for key,add in adminaddlist %}
                                <a class="btn btn-primary btn--raise-on-hover" href="{{ path(add["path"], add[("params")]) }}">
                                    {{ 'form.add.%subject%' | trans({ '%subject%': adminlist.configurator.getEntityNameSingular()|trans }) }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% if adminlist.canExport() %}
                        <div class="btn-group dropdown">
                            <a class="btn btn-default btn--raise-on-hover dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ 'kuma_admin_list.form.export_to' | trans }}
                                <i class="fa fa-caret-down btn__icon"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                {% set exportparams = adminlist.filterbuilder.currentparameters|merge(adminlist.getExportUrl()[("params")]) %}
                                {% for name, ext in supported_export_extensions() %}
                                    {% set exportparams = exportparams|merge({"_format": ext}) %}
                                    <li>
                                        <a href="{{ path(adminlist.getExportUrl()["path"], exportparams) }}">
                                            <i class="fa fa-file-{{ name | lower }}-o btn__icon"></i>
                                            {{ name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if adminlist.hasListActions() %}
                        {% for action in adminlist.getListActions() %}
                            {% if action.template is not null %}
                                {% include action.template with {'action': action} %}
                            {% else %}
                                <a href="{{ path(action.getUrl()["path"], action.getUrl()[("params")] ) }}" class="btn">
                                    {% if action.getIcon() is not null %}
                                        <i class="fa fa-{{ action.getIcon() }}"></i>
                                        {{ action.getLabel()|trans }}
                                    {% else %}
                                        {{ action.getLabel()|trans }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block admin_content %}
    {% if adminlist.getIndexUrl()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()) }}
    {% endif %}

{#{% include '@HgabkaNode/Admin/_add_homepage_modal.html.twig' %}#}
{% endblock %}
