{% extends '@HgabkaNode/Default/layout.html.twig' %}

{% set form = tabPane.getFormView() %}

{% block extrabodyclasses %}{{ parent() }} js-check-if-edited{% if nodeVersionLockCheck %} js-node-version-lock{% endif %}{% endblock %}

{% block title %}{{ 'hg_node.title_edit'|trans({'%title%': nodeTranslation.title}, 'HgabkaNodeBundle') }}{% endblock %}

{% block messages %}
    {% if queuedNodeTranslationAction %}
        <div class="alert alert-warning">
            <strong>{{ "Warning" | trans }}: </strong>
            {% if queuedNodeTranslationAction.action == 'publish' %}
                {{ 'hg_node.status.will_be_publish_at.%date%.raw'
                    |trans({'%date%': queuedNodeTranslationAction.date|date('Y-m-d H:i:s')})
                    |raw
                }}
            {% else %}
                {{ 'hg_node.status.will_be_unpublish_at.%date%.raw'
                    |trans({'%date%':queuedNodeTranslationAction.date|date('Y-m-d H:i:s')})
                    |raw
                }}
            {% endif %}
            <a href="{{ path('HgabkaNodeBundle_nodes_unschedule_publish', { 'id': node.id}) }}" class="btn btn-warning btn--raise-on-hover alert__action">
                {{ 'hg_node.status.button.schedulle_cancel'|trans() }}
            </a>
        </div>
    {% endif %}
    {% if form_has_errors_recursive(form) %}
        <div class="alert alert-danger">
            <strong>{{ 'hg_node.form.error' | trans }}: </strong>{{ 'hg_node.form.validation_errors' | trans }}
            {{ form_errors(form) }}
            <button class="close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}
{% endblock %}


{% block header %}
    <!-- PageClassName: {{ node.refEntityName }} -->
    <h1 class="app__content__header__title">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <abbr title="{{ node.refEntityName }}">{{ page.title }}</abbr>
        {% else %}
            {{ page.title }}
        {% endif %}

        {% if draft %}
            <small class="app__content__header__title__small app__content__header__title__small--offline">
                {{ 'hg_node.status.offline_draft.%public_url%.raw'
                    |trans({'%public_url%': path('HgabkaNodeBundle_nodes_edit', { 'id': node.id})})
                    |raw
                }}
            </small>
        {% elseif not is_structure_node(page) %}
            <small class="app__content__header__title__small {% if nodeTranslation.online %}app__content__header__title__small--online{% else %}app__content__header__title__small--offline{% endif %}">
                {% if nodeTranslation.online %}
                    {{ 'hg_node.status.online_public.raw'
                        |trans()
                        |raw
                    }}
                {% else %}
                    {{ 'hg_node.status.offline.raw'
                        |trans()
                        |raw
                    }}
                {% endif %}
                {% if draftNodeVersion is not null %}
                    {{ 'hg_node.status.go_to_draft_version.%url%.raw'
                        |trans({'%url%': path('HgabkaNodeBundle_nodes_edit', { 'id': node.id, 'subaction': 'draft'}) })
                        |raw
                    }}
                {% endif %}
                {% if get_locales()|length > 1 %}
                    - {{ 'hg_node.version.lang'|trans({ '%lang%' : locale_display_name(app.request.attributes.get('nodeLocale'))|capitalize }) }}
                {% endif %}
            </small>
        {% endif %}
    </h1>
{% endblock %}



{% block admin_content %}
    {% if nodeVersionLockCheck %}
        <div class="hidden" id="js-node-version-lock-data" data-check-interval="{{ nodeVersionLockInterval }}" data-url="{{ path('HgabkaNodeBundle_nodes_versionlock_check', {'id': node.id, 'public': draft ? 0 : 1}) }}">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                <span class="message"></span>
            </div>
        </div>
    {% endif %}

    {{ form_start(form, {'method': 'POST', 'action': path('HgabkaNodeBundle_nodes_edit', { 'id': node.id, 'subaction': subaction }), 'attr': {'novalidate': 'novalidate', 'id': 'pageadminform', 'class': 'form'}}) }}

        {{ knp_menu_render('sub_actions', { 'template': '@HgabkaNode/Menu/knp_menu_actions.html.twig'}) }}
        {{ knp_menu_render('actions', { 'template': '@HgabkaNode/Menu/knp_menu_actions.html.twig'}) }}
        {{ knp_menu_render('top_actions', { 'template': '@HgabkaNode/Menu/knp_menu_top_actions.html.twig'}) }}

        {{ tabs_widget(tabPane) }}
    {{ form_end(form) }}

    {% include '@HgabkaNode/NodeAdmin/_modals.html.twig' %}
{% endblock %}

{% block extracss %}
    {% set cssPath = 'frontend/css/admin-style.min.css' %}
    {% if file_exists(cssPath) %}
        <link rel="stylesheet" href="{{ asset('/' ~ cssPath) }}">
    {% endif %}
{% endblock %}
