{% extends '@HgabkaUtils/Default/layout.html.twig' %}
{% block breadcrumb %}
    {% set breadcrumbitems = adminmenu.breadcrumb %}
    {% if breadcrumbitems | length > 0 %}
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">{{ 'link_breadcrumb_dashboard' | trans({}, 'SonataAdminBundle') | raw }}</a>
        </li>
        {% for breadcrumbitem in breadcrumbitems %}
            {% if block('breadcrumb_between') is defined %}
                {{ block('breadcrumb_between') }}
            {% endif %}
            <li>
                {% if  breadcrumbitem.route %}
                    <a href="{{ path(breadcrumbitem.route, breadcrumbitem.routeparams) }}">
                        {{ breadcrumbitem.label | trans }}
                    </a>
                {% else %}
                    <span>{{ breadcrumbitem.label | trans }}</span>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block admin_breadcrumb %}
    <ul class="breadcrumb app__content__breadcrumb sub-breadcrumb">
        <li><a style="margin-left:55px;color:#333"href="{{ path('sonata_admin_dashboard') }}">« {{ 'kuma_admin.back'|trans }}</a></li>
        <li><a style="margin-left:55px;color:#333"href="{{ path('admin_hgabka_node_node_list') }}">« {{ 'hg_node.admin.back_to_list'|trans }}</a></li>
    </ul>
{% endblock %}
